<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="carrot.app.mapper.MapMapper">
    <insert id="saveMapData" >
        INSERT INTO map
        (MNUM, MDATETIME, MDISTANCE, MYKCALS, MTIME, USER_NUM, USER_NICK)
        VALUES(#{mnum},#{mdatetime},#{mdistance},#{mykcals},#{mtime},#{user_num},#{user_nick});
    </insert>
    <select id="findByMdatetime" resultType="carrot.app.Map.MapVo">
        SELECT * FROM map WHERE mdatetime LIKE CONCAT('%', #{date}, '%')
    </select>
</mapper>